body {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: rgb(28, 28, 28);
  position: fixed;
  top: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 2em;
  color: white;
  text-align: center;
  text-decoration: none;
}

section {
  margin: 0;
  padding-top: 6.25em;
  height: 90vh;
  overflow: hidden;
}

section h1 {
  text-align: center;
}

nav ul li a:hover {
  background-color: rgb(14, 14, 14);
}

.projectList {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.projectList li {
  display: inline-block;
  border: thin black;
}

.projectList li a {
  display: block;
  padding: 6em;
  width: 12em;
  height: 6em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  background-color: rgb(28, 28, 28);
  overflow: hidden;
  text-align: center;
}

.projectList li a:hover {
  background-color: rgb(14, 14, 14);
}

.projectList li a span {
  padding-top: .5em;
  display: block;
  font-weight: normal;
  font-size: 0.75em;
}

.center {
  text-align: center;
}

.nav_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}

.nav_dropdown a {
  display: block;
  text-align: left;
  text-decoration: none;
}

.dropdown:hover .nav_dropdown {
  display: block;
}

#home {
  background-image: url("../img/background.png");
  background-size: cover;
  color: white;
}

#home p{
  padding-left: 12em;
}

#projects {
  text-align: center;
  min-height: 90vh;
  display: inline-block;
  overflow: visible;
}


/*Mobile Modifiers*/

@media screen and (max-width: 1000px) {
  body {
    /*Larger font for smaller screens*/
    /*font-size: 1.25em;*/
  }
  nav ul {
    position: absolute;
  }
  nav ul li {
    float: none;
  }
  section {
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
  }
  #home {
    padding-top: 16em;
    overflow: hidden;
  }
  #home p{
    padding: 0;
  }
  .projectList li a {
    width: 50%;
  }
}