body {margin: 0;}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: rgb(28, 28, 28);
}

nav ul li {
  float: left;
}

@media screen and (max-width: 600px) {
  nav ul li {
    float: none;
  }
}

nav ul li a {
  display: block;
  padding: 2em;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(14, 14, 14);
}