body {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: rgb(28, 28, 28);
  position: fixed;
  top: 0;
}

nav ul li {
  float: left;
}

@media screen and (max-width: 1000px) {
  nav ul li {
    float: none;
  }
  #home{
    padding-top: 16em;
  }
}

nav ul li a {
  display: block;
  padding: 2em;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(14, 14, 14);
}

.nav_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}

.nav_dropdown a {
  display: block;
  text-align: left;
  text-decoration: none;
}

.dropdown:hover .nav_dropdown {
  display: block;
}

section {
  padding: 6em;
  height: 90vh;
}

section h1{
  text-align: center;
}